.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

body {
  margin: 0;
  background-image: url(../img/bg-main.jpg);
  background-size: cover;
}

.text-white {
  color: #fff;
}
.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.text-transparent{
  color: transparent;
}

.pt-4 {
  padding-top: 4rem;
}

.casilla {
  width: 25px;
  height: 25px;
}

#respuesta {
  padding-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.pb-custom {
  padding-bottom: .4rem;
}